---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="py-40">
    <div class="max-w-screen-xl mx-auto w-11/12 px-4">
      <a
        href="/curso-1"
        class="bg-blue-900 text-white text-center p-4 rounded-xl hover:bg-blue-950"
      >
        curso 1
      </a>
    </div>
  </main>
</Layout>
