---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ImagenCursoResina from "../assets/FotoCursoResina.jpeg";
---

<Layout>
  <main class="py-40">
    <section class="flex flex-col gap-y-6">
      <h3 class="text-2xl md:text-4xl font-semibold">Nuestros Cursos</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <a href="/cursos/resina">
          <Image src={} alt="" class="" />
          <h5>Curso de resina UV</h5>
          <p>Aprende a crear piezas únicas de resina UV con nuestro curso</p>
          <p>Ir al curso</p>
        </a>
        <a href="/cursos/resina">Curso Resina</a>
        <a href="/cursos/resina">Curso Resina</a>
      </div>
    </section>
  </main>
</Layout>
