---
import Layout from "../layouts/Layout.astro";
import { createAdminUser } from "../utils/auth.js";
await createAdminUser(); // Llama a la función aquí
---

<Layout>
  <main class="py-40">
    <h1 class="text-center text-sky-900 text-3xl font-black">
      Página de inicio
    </h1>
  </main>
</Layout>
