---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-20">
    <div class="">
      <h1 class="text-center text-3xl font-semibold">
        Nuestros Cursos en Linea
      </h1>
    </div>
  </section>
</Layout>
