---
import Layout from "../layouts/Layout.astro";
import RedesSociales from "../components/RedesSociales.astro";
---

<Layout>
  <section class="pt-10">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 w-11/12 md:w-10/12 max-w-screen-xl mx-auto gap-x-4 bg-azul-50/20 px-8 rounded-lg shadow shadow-azul-50/20"
    >
      <div class="lg:col-span-2">
        <h2
          class="text-5xl uppercase font-black text-azul-600 md:mt-6 leading-snug"
        >
          Curso de resina UV
        </h2>
        <h4 class="font-bold text-azul-700/60 md:mt-2 lg:mt-0">
          Modalidad: En l칤nea
        </h4>
      </div>

      <div class="lg:mt-6">
        <!-- TODO: AGREGAR AQUI VIDEO DEL CURSO -->
        <iframe
          src="https://www.youtube.com/embed/0gzmFo8UiJQ?si=I1r3f64pJip5fvs3&controls=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          class="w-full rounded-lg h-72 md:h-96 mt-6 lg:mt-0"
          allowfullscreen></iframe>
      </div>

      <div class="mt-8 md:mt-14 lg:mt-0 px-4 py-6 rounded-lg">
        <!-- TODO: AGREGAR AQUI DESCRIPCION Y TEXTO DEL CURSO -->

        <h3 class="text-2xl font-bold text-azul-700">Introducci칩n al curso</h3>
        <p class="font-medium mt-2 text-azul-700">
          En este video podr치s conocer la lista de materiales, herramientas y
          los primeros pasos que vamos a tomar en la elaboraci칩n de nuestras
          primeras piezas de resina 游뱔.
        </p>

        <h3 class="text-2xl font-bold text-azul-700 mt-12">
          Lista de materiales
        </h3>
        <ul class="font-bold text-azul-700 space-y-3 pl-3 mt-5">
          <li>游꿛 Material numero 1</li>
          <li>游꿛 Material numero 2</li>
          <li>游꿛 Material numero 3</li>
          <li>游꿛 Material numero 4</li>
        </ul>

        <h3 class="text-2xl font-bold text-azul-700 mt-12">Sugerencias</h3>
        <ul class="font-bold text-azul-700 space-y-3 pl-3 mt-5">
          <li>游 Abre puertas o ventanas para una mejor ventilaci칩n.</li>
          <li>
            游꿨 M칰sica Relajante, crea un ambiente donde puedas disfrutar de tu
            clase.
          </li>
          <li>游뱖 Reduce las distracciones a tu alrededor.</li>
        </ul>

        <!-- LISTA DE MATERIALES -->

        <!-- TERMINA -- LISTA DE MATERIALES -->
      </div>
    </div>
  </section>

  <RedesSociales />
</Layout>
