.tituloSeccion{
    font-size: 3.2rem;
    font-weight: $bold;
    text-align: left;
}

.contenedor-cursos{
    @include grid(1, 2rem);
    @include tablet{
        @include grid( 2 , 1.6rem );
    }
    @include desktop{
        @include grid(3, 2.4rem);
    }
    gap: 4.2rem;
}



#cursos{
    padding: 10rem 0;

    h1{
        font-family: $fuente_secundaria;
        color: darken($azul, 8);
        line-height: 1.4;
        margin-top: 0;
    }

    h2{
        margin-top: 0;
        margin-bottom: 2rem;
        font-weight: 900;
        font-family: $fuente_secundaria;
        color: lighten($azul, 1);
        text-align: left;
        font-size: 3.2rem;
        @include tablet{
            font-size: 4rem;
        }
    }
}

.cursoCard{
    background-color: lighten($gris, 11);
    border: 1px solid darken($gris, 2);
    border-radius: 1.2rem;

    h3, p {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
    }
    h3{
        font-size: 2.6rem;
        font-weight: 900;
        font-family: $fuente_secundaria;
        color: darken($azul, 6);
    }
    p{
        font-size: 1.6rem;
        color: darken($azul, 2);
    }

    &:hover{
        background-color: lighten($gris, 8);
    }

}

.contenido-curso{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.imagen-curso{
    border-radius: 1.2rem 1.2rem 0 0 ;
}