.footer {
    margin-top: 12rem;
    margin-bottom: 0;
    padding: $separacion / 2 0;
    background-color: #526B72;

    .contenedor-footer{
        padding-top: $separacion / 2;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}