.no-webp .inicio {
    background-image: url(/build/img/header.jpg);
}

.webp .inicio {
    background-image: url(/build/img/header.webp);
}

.header {
    background-color: #526B72;
    padding: 1rem 0 3rem 0;
    
    .logo-naima{
        max-width: 20rem;
        margin: 0 auto;
    }

    &.inicio{
        background-position: center center;
        background-size: cover;
        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        color: $blanco;
        text-align: left;
        font-weight: 400;
        line-height: 2;
        max-width: 55rem;
        @include tablet{
            max-width: 65rem;
        }
    }
}

.titulo-grande{
    font-family: $fuente_secundaria;
    font-size: 3.2rem ;
    font-weight: $black;
    
    @include tablet{
        font-size: 4.8rem;

    }
}