.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    margin-top: 3.2rem;
    @include tablet {
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        display: block;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
        @include tablet{
            margin-right: 2rem;
            margin-bottom: 0;
            font-size: 1.8rem;
        }
    }
  
    .boton-iniciar-sesion{
        background-color: $azul;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: .4rem;
        text-decoration: none;
        &:hover{
            background-color: darken($azul, 7);
            text-decoration: none;
            border-radius: .8rem;
        }
    } 
}

.navegacion-footer{
    margin-top: 3.2rem;
    @include tablet {
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        display: block;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
        @include tablet{
            margin-right: 2rem;
            margin-bottom: 0;
            font-size: 1.8rem;
        }
    }
  
    .boton-iniciar-sesion{
        background-color: $azul;
        width: fit-content;
        text-decoration: none;
    } 
}

footer{
    .boton-iniciar-sesion{
        margin: 0;
    }
}