---
import { Image } from "astro:assets";
import LogoNaima from "../assets/logo-naima.svg";
---

<footer class="w-full bg-azul-500 shadow-sm">
  <div class="p-4 mx-auto max-w-screen-xl md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="/"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <Image src={LogoNaima} alt="Naima Casa Productora" class="" />
      </a>
      <ul
        class="flex flex-wrap items-center mt-3 mb-6 text-sm font-medium text-gray-500 lg:mt-0 sm:mb-0 dark:text-gray-200"
      >
        <li>
          <a
            href="#"
            class="p-3 me-4 md:me-6 bg-azul-700 rounded-md hover:rounded-lg hover:bg-azul-800"
            >Contáctanos</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-azul-300 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-200"
      >© 2025 <a href="/" class="hover:underline">Naima Casa Productora</a>.
      Todos los derechos reservados.</span
    >
  </div>
</footer>
