---
import { Image } from "astro:assets";
import LogoNaima from "../assets/logo-naima.svg";
---

<header>
  <nav class="border-gray-200 bg-azul-500">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-8 md:w-10/12 w-11/12"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Image src={LogoNaima} alt="Naima Casa Productora" class="" />
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-azul-50 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-azul-600 hover:bg-azul-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 gap-y-2 text-white text-lg"
        >
          <li>
            <a
              href="#"
              class="block py-2 px-3 rounded-sm md:border-0 text-center"
              >Contáctanos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2.5 px-3 rounded-sm hover:rounded-md md:border-0 text-center bg-azul-600 hover:bg-azul-700"
              >Iniciar Sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
