---
import { Image } from "astro:assets";
import LogoNaima from "../assets/logo-naima.svg";
---

<header class="py-8 bg-azul-500 md:px-12">
  <div
    class="flex items-center justify-between w-11/12 mx-auto max-w-screen-xl"
  >
    <Image src={LogoNaima} alt="Logo Naima" class="" />
    <a
      href="#"
      class="p-3 text-white rounded-sm bg-azul-600 hover:bg-azul-700 hover:rounded-md"
      >Contáctanos</a
    >
  </div>
</header>

<!-- 
<header>
  <nav class="border-gray-200 bg-azul-500">
    <div
      class="flex flex-wrap items-center justify-between w-11/12 py-8 mx-auto max-w-screen-xl md:w-10/12"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Image src={LogoNaima} alt="Naima Casa Productora" class="" />
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm rounded-lg text-azul-50 md:hidden focus:outline-none focus:ring-2 focus:ring-azul-600 hover:bg-azul-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="flex flex-col p-4 mt-4 text-lg font-medium text-white rounded-lg md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 gap-y-2"
        >
          <li>
            <a
              href="#"
              class="block px-3 py-2 text-center rounded-sm md:border-0"
              >Contáctanos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2.5 px-3 rounded-sm hover:rounded-md md:border-0 text-center bg-azul-600 hover:bg-azul-700"
              >Iniciar Sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->
