---

---

<section
  class="w-11/12 px-8 py-12 mx-auto grid grid-cols-1 lg:grid-cols-2 max-w-screen-xl"
>
  <div class="flex flex-col w-full mx-auto max-w-screen-xl">
    <h3 class="text-xl font-bold text-azul-600">Nuestras Redes</h3>
    <a
      href="#"
      class="mt-2.5 lg:mt-10 bg-blue-300 hover:bg-blue-400 text-azul-800 font-bold rounded-md max-w-fit py-3 px-6"
      >Facebook</a
    >
    <a
      href="#"
      class="mt-2.5 bg-pink-400 hover:bg-pink-500 font-bold text-white rounded-md max-w-fit py-3 px-6"
      >Instagram</a
    >
    <a
      href="#"
      class="mt-2.5 bg-green-500 hover:bg-green-600 text-white font-bold rounded-md max-w-fit py-3 px-6"
      >WhatsApp</a
    >
  </div>
  <div class="flex flex-col w-full mx-auto mt-12 max-w-screen-xl lg:mt-0">
    <form action="" class="flex flex-col p-6 bg-azul-50/50 rounded-md">
      <h3 class="text-2xl font-bold text-azul-600">Déjanos un mensaje</h3>
      <div class="flex flex-col mt-2">
        <label class="mt-4 text-lg font-bold text-azul-800" for="">Nombre</label
        >
        <input
          class="rounded-lg border-azul-100 bg-azul-50/10"
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Escribe tu nombre completo"
        />
      </div>
      <div class="flex flex-col my-3 gap-6 md:flex-row">
        <div class="flex flex-col w-full mt-2">
          <label class="text-lg font-bold text-azul-800" for="">Correo</label>
          <input
            class="rounded-lg border-azul-100 bg-azul-50/10"
            type="email"
            name="correo"
            id="correo"
            placeholder="correo@correo.com"
          />
        </div>
        <div class="flex flex-col w-full mt-2">
          <label class="text-lg font-bold text-azul-800" for="">Teléfono</label>
          <input
            class="rounded-lg border-azul-100 bg-azul-50/10"
            type="tel"
            name="telefono"
            id="telefono"
            placeholder="Número de teléfono"
          />
        </div>
      </div>
      <div class="flex flex-col mt-2">
        <label class="text-lg font-bold text-azul-800" for="">Mensaje</label>
        <textarea
          name="mensaje"
          id="mensaje"
          class="rounded-lg border-azul-100 bg-azul-50/10"
          placeholder="Escribe tu mensaje"></textarea>
      </div>
      <a
        class="p-3 mt-4 font-bold tracking-widest text-center text-white uppercase rounded-sm bg-azul-600 hover:rounded-md hover:bg-azul-700 hover:cursor-pointer font-montserrat"
        >Enviar</a
      >
    </form>
  </div>
</section>
