---

---

<section class="py-12">
  <div class="flex flex-col w-11/12 mx-auto px-6">
    <h3 class="font-bold text-xl text-azul-600">Nuestras Redes</h3>
    <a href="#" class="mt-2.5">Facebook</a>
    <a href="#" class="mt-2">Instagram</a>
    <a href="#" class="mt-2">WhatsApp</a>
  </div>
</section>
