---

---

<section class="py-12 grid grid-cols-1 lg:grid-cols-2">
  <div class="flex flex-col w-11/12 mx-auto px-6 max-w-screen-xl">
    <h3 class="font-bold text-xl text-azul-600">Nuestras Redes</h3>
    <a
      href="#"
      class="mt-2.5 bg-blue-300 hover:bg-blue-400 text-azul-800 font-bold rounded-md max-w-fit py-3 px-6"
      >Facebook</a
    >
    <a
      href="#"
      class="mt-2.5 bg-pink-400 hover:bg-pink-500 font-bold text-white rounded-md max-w-fit py-3 px-6"
      >Instagram</a
    >
    <a
      href="#"
      class="mt-2.5 bg-green-500 hover:bg-green-600 text-white font-bold rounded-md max-w-fit py-3 px-6"
      >WhatsApp</a
    >
  </div>
  <div class="flex flex-col w-11/12 mx-auto px-6 max-w-screen-xl lg:mt-0 mt-12">
    <form action="" class="bg-azul-50/50 p-6 flex flex-col rounded-md">
      <h3 class="font-bold text-2xl text-azul-600">Déjanos un mensaje</h3>
      <div class="flex flex-col mt-2">
        <label class="font-bold text-azul-800 text-lg mt-4" for="">Nombre</label
        >
        <input
          class="border-azul-100 bg-azul-50/10 rounded-lg"
          type="text"
          name="nombre"
          id="nombre"
        />
      </div>
      <div class="flex my-3 gap-6">
        <div class="flex flex-col mt-2 w-full">
          <label class="font-bold text-azul-800 text-lg" for="">Correo</label>
          <input
            class="border-azul-100 bg-azul-50/10 rounded-lg"
            type="email"
            name="correo"
            id="correo"
          />
        </div>
        <div class="flex flex-col mt-2 w-full">
          <label class="font-bold text-azul-800 text-lg" for="">Teléfono</label>
          <input
            class="border-azul-100 bg-azul-50/10 rounded-lg"
            type="tel"
            name="telefono"
            id="telefono"
          />
        </div>
      </div>
      <div class="flex flex-col mt-2">
        <label class="font-bold text-azul-800 text-lg" for="">Mensaje</label>
        <textarea
          name="mensaje"
          id="mensaje"
          class="border-azul-100 bg-azul-50/10 rounded-lg"></textarea>
      </div>
      <button
        class="p-3 bg-azul-600 text-white rounded-sm hover:rounded-md hover:bg-azul-700 hover:cursor-pointer text-center uppercase font-semibold tracking-widest mt-4"
        >Enviar</button
      >
    </form>
  </div>
</section>
