---

---

<section class="bg-sky-50 py-20 mt-12">
  <div class="w-11/12 mx-auto max-w-screen-xl flex flex-col">
    <h3 class="text-xl">Nuestras Redes Sociales</h3>
    <a href="#" class="">Instagram</a>
    <a href="#" class="">Facebook</a>
    <a href="#" class="">WhatsApp</a>
  </div>
</section>
