---
import { createUser } from "../utils/auth.js";

let errorMessage = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const nombre = formData.get("nombre");
  const contrasena = formData.get("contrasena");
  const rol = formData.get("rol");

  try {
    await createUser(nombre, contrasena, rol);
    return Astro.redirect("/admin");
  } catch (error) {
    errorMessage = error.message; // Obtiene el mensaje de error
  }
}
---

{errorMessage && <p style="color: red;">{errorMessage}</p>}

<form method="post" enctype="application/x-www-form-urlencoded">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" id="nombre" required />
  <label for="contrasena">Contraseña:</label>
  <input type="password" name="contrasena" id="contrasena" required />
  <label for="rol">Rol:</label>
  <select name="rol" id="rol">
    <option value="usuario">Usuario</option>
    <option value="admin">Administrador</option>
  </select>
  <button type="submit">Registrarse</button>
</form>
